<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="CornerLibraryDbConnString"
				 connectionString="Server=(local)\\CORNERLIBRARYDB; Database=CornerLibraryDB; Trusted_Connection=True; TrustServerCertificate=True; User Id=sa; Password=bp2sifra;Encrypt=False;"
				 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>

<!--"Data Source=(localDb)\CornerLibraryDB;Initial Catalog=aspnet-CornerLibrary;Integrated Security=SSPI;AttachDBFilename=C:\Program Files\Microsoft SQL Server custom install\MSSQL15.CORNERLIBRARYDB\MSSQL\DATA\CornerLibraryDB.mdf"-->